<p id="notice"><%= notice %></p>

<h1>Listing Messagings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Receiver</th>
      <th>Sender</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messagings.each do |messaging| %>
      <tr>
        <td><%= messaging.date %></td>
        <td><%= messaging.receiver %></td>
        <td><%= messaging.sender %></td>
        <td><%= messaging.message %></td>
        <td><%= link_to 'Show', messaging %></td>
        <td><%= link_to 'Edit', edit_messaging_path(messaging) %></td>
        <td><%= link_to 'Destroy', messaging, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Messaging', new_messaging_path %>
