<!DOCTYPE html>
<html>
<head>
  <title>Bumpinuglies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= link_to "Home",root_path %>
 <%= link_to "Login",welcome_login_path %>
 <%= link_to "Sign Up",welcome_signup_path %>
 <%= link_to "About Us",welcome_about_path %>
 <%= link_to "Features",welcome_features_path %>
 <%= link_to "Users",welcome_users_path %>
 <%= link_to "Profile",welcome_profile_path %>
 <%= link_to "Messages",messagings_path %>
 <%= link_to "Events",welcome_events_path %>

<%= yield %>

</body>
</html>
